:root {
    --background-pink: #Eee4e1;
    --claret-wine: #87163d;
    --yellow: #c7ac52;
    /*   --dust-black: #c7ac52; */
    --new-york-pink: #CC8B86;
    --linen: #f9eae1;
    --eire-black: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    /*     overflow: hidden; */
    background-color: var(--background-pink);
}




.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: auto;
    margin-top: 10px;
    column-gap: 2em;
    row-gap: 5em;
    background-color: blue;
}
.contenido {
    background-color: red;
}

h2 {
    margin-bottom: 10px;
}

p {
    font-size: 20px;
}

button {
    width: 300px;
    margin-top: 15px;
    padding: .8em;
    background-color: var(--new-york-pink);
    color: var(--claret-wine);
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
}



.container {
    margin: 0;
    padding: 0;
    max-width: 98.2vw;
}

.section-title {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.burger-container,
.sandwiches-container,
.desserts-container,
.drinks-container,
.pizzas-container {
    width: 400px;
    height: 350px;
    padding: 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.foto {
    width: 300px;
    height: 250px;
    padding: 10px 0;
    border-radius: 8%;
}

.navbar {
    background-color: var(--claret-wine);
    width: 100vw;
    margin-top: -20px;
    margin-left: -20px;
    color: var(--linen);
    font-family: 'Quicksand';
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
}

.navbar__items {
    list-style: none;
}

.contenedor .li.activo {
    color: var(--yellow);
}


/*Formulario*/

.grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10em;
}

input {
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    border-radius: 5px;
    outline: var(--claret-wine);
    border: none;
}

input:focus {
    outline: var(--claret-wine);
    border: 2px solid var(--claret-wine);
}

.btn {
    padding: 5px;
    margin-top: 8px;
    width: 120px;
    background-color: rgb(228, 172, 18);
}

.form-left-column,
.form-right-column {
    background-color: var(--new-york-pink);
    padding: 25px;
    border-radius: 15px;
    width: 100%;
}

.title-form {
    color: var(--linen);
    text-transform: uppercase;
    text-align: center;
}


/*MEDIA QUERYS*/


@media only screen and (max-width: 376px) {
    .grid {

        grid-template-columns: 100%;
        grid-auto-rows: auto; 
        align-items: center;
        justify-content: center;
    }
}


/* .menu {
    display: flex;
    background-color: var(--claret-wine);
    color: var(--linen);
    justify-content: space-between;
    height: 5.5rem;
    padding: 0 20px;
} */


/* .navbar_items {
    align-items: center;
    width: 100%;
    justify-content: space-between;
} */


/* 
.navbar_item {
    float: left;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
} */


/* .navbar__links {
    display: block;
    text-decoration: none;
    color: var(--linen);
    font-size: 1.3rem;
    font-weight: 700;
    padding: .5em;
    width: 100%;
    text-align: center;
}
 */


/* 
.navbar__links:hover {
    color: var(--yellow);
    transition: background-color .6s ease-in-out 0s;
} */


/* .hide-content {
    display: none;
}

.show-content {
    display: contents;
} */

#product {
    display: none;
}


/* .ui-tabs .ui-tabs-nav {
    background: var(--claret-wine);
    text-align: center;
    margin: -.8em !important;
    overflow: hidden;
    max-height: 135px;
} */


/* 
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: var(--claret-wine) !important;
    color: var(--new-york-pink);
    border-bottom: 10px solid var(--yellow);
    text-align: center;
    font-size: 32px;
    line-height: calc(32px*1.5);
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    border: none;
    text-align: center;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    padding: 0;
    white-space: nowrap;
    margin: -7px;
    padding-bottom: 1px;
    background-color: var(--claret-wine) !important;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: var(--new-york-pink);
    border: none;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: 2.5rem 1.5rem 0 !important;
    text-decoration: none;
    background: var(--claret-wine);
    color: var(--background-pink);
}

.custom-padding {
    padding-top: .1rem !important;
}

#tabs li {
    background-color: var(--claret-wine) !important;
} */