/* ESTILOS GENERALES */


/* EN ROOT SE DEFINEN LOS COLORES COMO VARIABLES */

:root {
    --background-pink: #Eee4e1;
    --claret-wine: #87163d;
    --yellow: #c7ac52;
    /*   --dust-black: #c7ac52; */
    --new-york-pink: #CC8B86;
    --linen: #f9eae1;
    --eire-black: #141414;
}


/* SETTEAR a 0 los estilos*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


/* ESTILOS GENERALES DE CADA ELEMENTO */

body {
    background-color: var(--background-pink);
}

h2 {
    margin-bottom: 10px;
}

p {
    font-size: 20px;
}

button {
    width: 300px;
    margin-top: 15px;
    padding: .8em;
    background-color: var(--new-york-pink);
    color: var(--claret-wine);
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
}

section {
    margin-top: 2%;
    margin-bottom: 4rem;
    margin-left: 60px;
    padding-bottom: 2rem;
}

.section-title,
.title-form {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}


/* ESTILO PARA LA PLANTILLA DE COLUMNAS PARA LOS PRODUCTOS DEL MENU, DE CADA CATEGORIA */

.grid {
    display: flex;
    /* flex-flow: row wrap; */
    row-gap: 7em;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

.contenedor {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}


/* ESTILOS PARA EL MENU */

.navbar {
    background-color: var(--claret-wine);
    width: 99vw;
    margin-top: -20px;
    margin-left: -20px;
    color: var(--linen);
    font-family: 'Quicksand';
    font-size: 22px;
    font-weight: 700;
}

.navbar__items {
    list-style: none;
}


/* Estilos para el contenedor de cada producto */

.burger-container,
.sandwiches-container,
.desserts-container,
.drinks-container,
.pizzas-container {
    width: 33%;
    height: 350px;
    padding: 20px;
}


/* Estilos para la foto de cada producto */

.foto {
    width: 300px;
    height: 250px;
    padding: 10px 0;
    border-radius: 8%;
}


/* =================================================
            ESTILOS PARA EL FORMULARIO
===================================================== */

.grid2 {
    /*    display: flex;
    flex-direction: column;
    max-height: 60%;
    flex-wrap: wrap;
    width: 80%; */
    display: grid;
    grid-template-columns: 40% 40%;
    padding: 1em;
    width: 100%;
    column-gap: 9em;
    justify-items: stretch;
    align-content: center;
    justify-content: center;
    align-items: start;
}

.form {
    background-color: var(--new-york-pink);
    width: fit-content;
    /*  margin-left: 21%; */
}

.form-left-column,
.form-right-column {
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
}

.form p {
    font-size: 12px;
}

.title-form {
    color: white;
}

input {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid var(--linen)
}

input:focus {
    border: 2px solid var(--claret-wine);
    outline: var(--claret-wine);
}

.btn {
    padding: 5px;
    margin-top: 8px;
    width: 120px;
    background-color: rgb(228, 172, 18);
}

#product {
    display: none;
}

.contenedor .ul {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.contenedor .li.activo {
    color: var(--yellow);
}

.contenedor .li {
    padding: 1em .889em;
    transition: all .5s ease;
    cursor: pointer;
}


/* .contenedor .subcontenedor {
    min-height: 10vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
} */

.form {
    height: fit-content;
    margin-top: 5vh;
}

.contenedor .bloque {
    /*    margin: 1em; */
    padding: 1em;
    position: absolute;
    top: 2em;
    opacity: 0;
    transform: translateY(50%);
    transition: all .5s ease;
}

.contenedor .bloque.activo {
    opacity: 1;
    transform: translateY(0%);
    margin-top: 7%;
}